#tavern-block {
	text-align: center;
	width: 100%;
	min-width: 200px;
	padding: 1px;
	margin: 1px;
}
#bartender-block {
	font-size: 16px;
}
#bartender-canvas {
	width: 200px;
	height: 200px
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;;
}
#bartender-interact-block {

}
#bartender-text-block {
	min-height: 120px;
	max-height: 120px;
	display: inline-block;
}
#bartender-text-block-inner {
	padding-left: 1em;
	padding-right: 1em;
	min-width: 200px;
	max-width: 70%;
	max-height: 100px;
	overflow: auto;
	border: solid 2px white;
	display: inline-block;
}
#bartender-text-block-outer {

}
.bartender-button {
	border: solid 2px white;
	padding: 0px 2px 0px 2px;
	margin: 3px 0px 3px 0px;
	color: #D9B08C;
	background-color: black;
	min-width: 80px;
}
.column {
	flex: 1;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}
.columns {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 5px 0;
}

