#tavern-block {
	text-align: center;
	border: solid 2px white;
	width: 100%;
	min-width: 200px;
	padding: 1px;
	margin: 1px;
	position: relative;
}
#bartender-block {
	font-size: 16px;
}
#bartender-canvas {
	width: 200px;
	height: 200px
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;;
}
#bartender-interact-block {
	border: solid 2px white;
}
#bartender-text-block {
	position: relative;
	left: 1em;
	right: 1em;
	min-width: 200px;
	border: solid 2px white;
}
.bartender-button {
	border: solid 2px white;
	padding: 0px 2px 0px 2px;
	margin: 3px 0px 3px 0px;
	color: #D9B08C;
	background-color: black;
	min-width: 80px;
}